 body {
	background-color: #b8fff4;
}

.centre {
	text-align: center;
}

div.item {
	position: absolute;
	text-align: right;
	width: 90%;
	height: 70%;
	z-index: -1;
}

.caption {
	display: inline-block;
	width: 90%;
	height: 70%;
}

h1 {
	color: black;
	text-align: center;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h2 {
	text-align: left;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 24px;
}

form {
	margin: 25px;
	margin-left: 470px;
	margin-right: 470px;
	width: 100%px;
	padding: 1em;
	border: 1px solid black;
	border-radius: 1em;
}

.left {
	width: 1%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

input {
	width: 100%;
}

.text {
	font-size: 18px;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

body,
html {
	height: 100%;
}
